{{bootstrap.load_css()}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CST 205 Homework 4</title>
</head>

<body>
    <div class="container">
        <h1>{{attr['title']}} by {{attr['credit']}}</h1>
        <img src="/static/images/{{attr['id']}}.jpg" alt="TEST">
        <p>
            <br> {{mode}} image in {{format}} format with width {{width}} and height {{height}}.
            <br> <br> <a href="{{url_for('home_page')}}">« Back to list of images</a>
        </p>
    </div>
</body>

</html>
