{{bootstrap.load_css()}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture Gallery</title>
</head>

<body>
    <div class="container">
        <h1>Random Picture Gallery</h1>
        <p>
            <a href="{{url_for('display_images', id=img1['id'])}}">{{img1['title']}}</a>
        </p>
        <a href="{{url_for('display_images', id=img1['id'])}}">
            <img src="/static/images/{{img1['id']}}.jpg" width="350" height="230" alt="first_image">
        </a>
        <p>
            <a href="{{url_for('display_images', id=img2['id'])}}">{{img2['title']}}</a>
        </p>
        <a href="{{url_for('display_images', id=img2['id'])}}">
            <img src="/static/images/{{img2['id']}}.jpg" width="350" height="230" alt="second_image">
        </a>
        <p>
            <a href="{{url_for('display_images', id=img3['id'])}}">{{img3['title']}}</a>
        </p>
        <a href="{{url_for('display_images', id=img3['id'])}}">
            <img src="/static/images/{{img3['id']}}.jpg" width="350" height="230" alt="third_image">
        </a>
    </div>
    <div>
        <p>
            <!-- Intentionally empty. -->
        </p>
    </div>

</body>

</html>
